:root {
  margin: 5px;
  --primary: #e53935;
}

main {
  height: 100vh;
}
input {
  border: 1px solid var(--color);
}
article {
  margin-top: 0;
  margin-bottom: 0;
}

#header {
  padding-top: 10px;
  padding-bottom: 2px;
  text-align: center;
}
.metro {
  font-family: "Metrophobic", sans-serif;
}
.barlow {
  font-family: "Barlow Semi Condensed", sans-serif;
}

#header div {
  height: 50px;
}
.do-it-div {
  display: flex;
  justify-content: center;
  height: fit-content;
}

#do-it {
  height: fit-content;
  width: fit-content;
}
#do-it-drink {
  height: fit-content;
  width: fit-content;
}

.container-fluid {
  padding-top: 20px;
}
#dinnerBtn {
  width: 200px;
  display: inline;
}
#drinkBtn {
  width: 200px;
  display: inline;
}
#buttonholder {
  display: flex;
  justify-content: space-around;
}

a img {
  border: 2px solid var(--primary);
  border-radius: 4px;
  width: 250px;
}

a {
  max-width: fit-content;
}
#subheader {
  height: 200px;
  padding-top: 50px;
  box-shadow: 10px -5px 5px #3c7e88, 10px 5px 5px #3c7e88, -10px 5px 5px #3c7e88,
    -10px -5px 5px #3c7e88;
}
.show-card {
  padding-bottom: 10px;
  margin: 5px;
  border: 1px solid white;
}
.show-card li {
  font-size: 17px;
}
.show-card h5 {
  height: fit-content;
}
.drink-container {
  box-shadow: 10px -5px 5px #3c7e88, 10px 5px 5px #3c7e88, -10px 5px 5px #3c7e88,
    -10px -5px 5px #3c7e88;
}
.recipe-search {
  box-shadow: 10px -5px 5px #3c7e88, 10px 5px 5px #3c7e88, -10px 5px 5px #3c7e88,
    -10px -5px 5px #3c7e88;
}
#recipe-cards {
  background: none;
}
